{# src/Edu/FormaBundle/Resources/views/Advert/index.html.twig #}

{% extends "EduFormaBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block eduforma_body %}

    <h2>Liste des Formations</h2>
     <p>

      {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
    <p><div class="well">{{ message }} </div></p>
    {% endfor %}

   </p>
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('edu_forma_view', {'id': advert.id}) }}">
                    {% if advert.image is not null %}
                        <img alt="{{ advert.image.alt }}"  width="50" height="50" src="{{ asset(advert.image.webPath) }}" />
                    {% endif %}
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) de formations disponible</li>
        {% endfor %}
        <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('edu_forma_home', {'page': p}) }}">{{ p }}</a>
    </li>
{% endfor %}
</ul>
    </ul>

{% endblock %}