{# src/Edu/FormaBundle/Resources/views/Advert/suivreformation.html.twig #}

{% extends "EduFormaBundle::layout.html.twig" %}

{% block title %}
    Suivre une formation - {{ parent() }}
{% endblock %}

{% block eduforma_body %}

    <h2>Suivre une formation</h2>

    <p>
        Vous aller suivre la formation suivante:
        <li>{{ advert.title }}</li>
    </p>
    <form action="{{ path('edu_forma_follow', {'id': advert.id}) }}" method="post">
        <a href="{{ path('edu_forma_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'accueil
        </a>
        <input type="submit" value="Confirmer" class="btn btn-default" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>
{% endblock %}