{# src/Edu/FormaBundle/Resources/view/Advert/view.html.twig #}

{% extends "EduFormaBundle::layout.html.twig" %}

{% block title %}
    Visualisation d'une formation - {{ parent() }}
{% endblock %}

{% block eduforma_body %}


    {% if listAdvertSkills|length > 0 %}
        <div>
            Cette annonce requiert les compétences suivantes :
            <ul>
                {% for advertSkill in listAdvertSkills %}
                    <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h2>{{ advert.title }}</h2>
    {% if not advert.categories.empty %}
        <p>
            Cette annonce est parue dans les catégories suivantes :
            {% for category in advert.categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content[0][page - 1] | raw }}
    </div>
    <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, advert.content[0]|length) %}
    <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('edu_forma_view',{'id': advert.id, 'page': p})}}">{{ p }}</a>
    </li>
{% endfor %}
</ul>
    <p>
        <a href="{{ path('edu_forma_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('edu_forma_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier la formation
        </a>
        <a href="{{ path('edu_forma_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer la formation
        </a>
    </p>

{% endblock %}
