{# src/Edu/FormaBundle/Resources/views/layout.html.twig #}

{% extends "EduCoreBundle::layout.html.twig" %}

{% block body %}
    <h4>Formations en cours</h4>
    {% for advert in adverts %}
    <li>
        <a href="{{ path('edu_forma_view', {'id': advert.id}) }}">
            {% if advert.image is not null %}
                <img alt="{{ advert.image.alt }}"  width="50" height="50" src="{{ asset(advert.image.uploadDir ~ '/' ~ advert.image.id ~ '.' ~ advert.image.url) }}" />
            {% endif %}
            {{ advert.title }}
        </a>
    </li>
{% endfor %}
    <hr><h4>Formations Disponible</h4>
    {{ render(controller("EduFormaBundle:Advert:menu", {'limit': 3})) }}
    <a href="{{ path('edu_core_recherche') }}"><hr><h4>Rechercher une formation >></h4></a>
{% endblock %}
