{# src/Edu/FormaBundle/Resources/views/Advert/index.html.twig #}

{% extends "EduFormaBundle::layout.html.twig" %}

{% block title %}
    Recherche - {{ parent() }}
{% endblock %}

{% block eduforma_body %}

    <ul>
        <h2>Utilisateur</h2>
        {% for advert in listAdverts %}
            <li>
                {{ advert.username }}
                {{ advert.email }}
            </li>
        {% else %}
            <li>Pas d'utilisateur trouvée pour << {{ recherche }} >></li>
        {% endfor %}
        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('edu_forma_home', {'recherche': recherche}, {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </ul>

{% endblock %}